doctype html5
head
	link(rel='stylesheet', href='css/markdown.css')
body
	:markdown
		
		What is Estimator?
		==================

		A tool for breaking down a project in manageable tasks, and to estimate the overall time needed to complete them.


		What is Estimator *not*?
		========================

		* An issue tracker.
		* A Scrum whiteboard.
		* Mobile friendly.
		* Very sophisticated and accurate.

		How do I use Estimator?
		=======================

		Projects
		--------

		To create a new project, go to [the front page](http://geon.github.io/estimator/) and click the "Create project" button.

		Your new project has a unique URL that you can bookmark or share. Anyone with access to this URL has also full rights to read and edit the project.

		Let's say you are preparing your vacation. Type in a suitable name for your project in the text field that appears, for example "Vacation". You can change it at any time.


		Breaking down your project
		--------------------------

		You should see a button with a plus symbol and a dotted outline. Click it to add a task at the top level of your project. A white box with an input field will appear. Type in a short title for your task and hit [enter] or click somewhere else. Do this as many times as needed.

		Top level tasks could be:

		* Find interesting destinations
		* Decide destination
		* Arrange visa
		* Buy tickets
		* Get vaccinated
		* Arrange cat sitter
		* Pack bags
		* Book airport parking

		As you will have noticed, the tasks are listed top to bottom in a single column. You can drag & drop tasks to reorder them to indicate priority or dependencies.

		Each of the tasks have two buttons in the lower right corner. The button with a pen icon will open up a dialog with more options, such as a color picker and a text area for entering a more detailed description.

		Click the pen button on "Find interesting destinations". In the dialog, click the "Description" text area. This is a great place to type in reminders and ideas, like "Ask Mike about that place he went last year.".

		Again, click the pen button on "Arrange cat sitter" and set the color to red so you don't forget like last time. I'm pretty sure your kids noticed Mittens had a new color.

		The button with the plus icon will add a new *subtask*. Click the plus button on the task "Decide destination", and call it "Check prices". This new task is placed in a new column, next to the *parent task* it belongs to.

		The astute reader might notice that "Find interesting destinations" should actually be part of the task "Decide destination". Simply drag & drop it over to the second column, right over "Check prices". As you drop it, the box labeled "Decide destination" will grow in height to accommodate it's two subtasks.

		Any task can contain more subtasks this way, to any depth. Or as many as will fit on your screen.

		You will continue breaking down tasks into ever smaller subtasks until they are so small they are trivial, or you just don't know enough about them yet.


		Estimating
		----------

		In the edit dialog opened by the pen button, there are three fields for entering the time the task takes to complete.

		The first two are the min/max estimate. As you fill in the min estimate, the max will be suggested to you automatically. Entering one manually is optional.

		The last one, labeled "Actual" is for how much time a task *actually* took. Entering it will automatically mark your task as "Done". This actual time taken will override the estimate if there is one.

		It is usually a good idea to only enter estimates for "leaf tasks" - tasks that have no subtasks, so that they are at the far right of their row.

		The format for entering times is:

		    number unit [, ...]

		...where `number` is an integer and `unit` is any one of `[year(s), month(s), weeks(s), day(s), hour(s), min]` or their shorter variants `[y, mn, w, d, h, m]`, respectively.

		Examples:

		* 1 day, 2 hours, 30 min
		* 1d, 2h, 30m
		* 1234 min
		* 30 h, 2 h, 2h, 1 hour

		Whatever you enter will be parsed, converted to seconds and formatted in the most sensible way.

		For now, conversion between units assume Swedish conditions where:

		* 1 day = 8 h
		* 1 week = 5 days
		* 1 month = 4 weeks
		* 1 year = 45 weeks


		Projected estimates
		-------------------

		As soon as you enter the first estimate or actual time taken, Estimator will calculate projections for the entire project. At first they will most likely be outrageously improbable, but as you fill in more numbers, they will become more accurate.

		The projection of a task with subtasks in it will be the sum of it's subtasks. If the supertask itself has an estimate, the larger of them is used. The assumption is that a task is equal to the sum of it's parts, or sometimes more.

		When a task has no estimates set on itself or any of it's subtasks, it is given the average estimate of the ones that are actually set among it's siblings. This assumes that you have broken your project down into roughly equally large bites.

		If all else fails, time is projected down from the supertask and divided equally over the subtasks. Simply put, if ten tasks should take 30 minutes together, each one should take about 3 minutes.
