@import 'cssreset-min.css';
* {
  font-family: inherit;
  letter-spacing: inherit;
}
html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, FontAwesome;
  font-size: 16px;
  letter-spacing: 0.03em;
  background: #001f23;
}
h1,
h2,
h3,
p,
hr {
  margin-top: 1.5em;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1em;
  font-weight: bold;
}
h3 + p {
  margin-top: 0;
}
p {
  line-height: 1.5em;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body[data-current-page='landing'] {
  background: #001f23 url(landing-page-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}
.landing {
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
}
.landing::before {
  content: ' ';
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
}
.landing h1,
.landing h2,
.landing p,
.landing a.button {
  font-weight: normal;
  letter-spacing: 1.3;
  line-height: 1.3em;
}
.landing p,
.landing a.button {
  font-size: 20px;
}
.landing h1.logo {
  font-family: Georgia, Times, Times New Roman, serif;
  font-weight: normal;
  text-align: center;
  font-size: 500px;
  line-height: 300px;
  margin: 150px 0 50px 0;
}
.landing p.tagline {
  text-align: center;
  margin: 0 20px;
}
.landing a.button.create {
  width: 150px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  color: white;
  text-decoration: none;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 20px;
  -webkit-transition: background .1s;
          transition: background .1s;
  margin: 150px auto;
}
.landing a.button.create:hover {
  background: rgba(255, 255, 255, 0.15);
  -webkit-transition: background .2s;
          transition: background .2s;
}
.landing div.columns {
  margin: 0 auto;
  overflow: auto;
}
@media only screen and (min-width: 960px) {
  .landing div.columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 850px;
    margin: 0 auto 100px auto;
  }
  .landing div.columns > div:last-child {
    margin-right: 0;
  }
}
.landing div.columns h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}
.landing div.columns p {
  font-size: 16px;
}
.landing div.columns img {
  display: block;
  margin: 0 auto;
}
.landing div.columns > div {
  width: 250px;
  margin: 0;
  margin-right: 50px;
}
body[data-current-page='project'] {
  background-size: 50px 50px;
  background-color: #8097ad;
  background-image: -webkit-linear-gradient(135deg, #778fa7 25%, transparent 25%, transparent 50%, #778fa7 50%, #778fa7 75%, transparent 75%);
  background-image: linear-gradient(-45deg, #778fa7 25%, transparent 25%, transparent 50%, #778fa7 50%, #778fa7 75%, transparent 75%);
}
.project {
  padding: 50px;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
}
.project input.title {
  font-size: 2em;
  background: transparent;
  color: #ffffff;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 8px;
  margin-left: -11px;
}
.project input.title:focus {
  outline: none;
  border-color: inherit;
}
.project > p.estimate {
  margin-top: 0;
  margin-bottom: 2em;
  color: #ffffff;
}
.project .tree-view {
  margin-top: 2em;
}
.project .tree-view ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.project .tree-view ul li {
  min-height: 30px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.project .tree-view ul li.insert.after {
  margin-bottom: 10px;
}
.project .tree-view ul li > div.task {
  display: inline-block;
  width: 200px;
  margin: 0 16px 16px 0;
  border-radius: 5px;
  -webkit-transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
          transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  position: relative;
}
.project .tree-view ul li > div.task h1,
.project .tree-view ul li > div.task input {
  font-size: 1.25em;
  padding: 6px 4px;
  margin: 7px 5px;
}
.project .tree-view ul li > div.task h1 {
  border: 1px solid transparent;
}
.project .tree-view ul li > div.task div.description {
  font-size: 14px;
  margin: 14px 10px;
  margin-top: 0;
}
.project .tree-view ul li > div.task input {
  display: none;
  width: calc(100% - 10px);
  background: transparent;
  color: inherit;
  border-radius: 3px;
  border: 1px solid;
}
.project .tree-view ul li > div.task input:focus {
  outline: none;
}
.project .tree-view ul li > div.task.editing-title h1 {
  display: none;
}
.project .tree-view ul li > div.task.editing-title input {
  display: block;
}
.project .tree-view ul li > div.task .estimates > * {
  margin: -8px 10px 8px 10px;
}
.project .tree-view ul li > div.task .estimates ::before {
  display: inline;
  margin-right: 5px;
}
.project .tree-view ul li > div.task .estimates .estimate::before {
  content: '';
}
.project .tree-view ul li > div.task .estimates .projection::before {
  content: '';
}
.project .tree-view ul li > div.task .estimates .actual::before {
  content: '';
}
.project .tree-view ul li > div.task i.button {
  position: absolute;
  bottom: 7px;
  font-size: 22px;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
          transition: opacity 0.1s;
}
.project .tree-view ul li > div.task:hover i.button {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s;
}
.project .tree-view ul li > div.task.editing-title i.button {
  display: none;
}
.project .tree-view ul li > div.task i.add-sub-task {
  right: 10px;
}
.project .tree-view ul li > div.task i.task-details {
  right: 35px;
}
.project .tree-view ul li > div.task:not(.done) {
  color: #000000;
  background: #ffffff;
  box-shadow: 0px 2px 0px 0px #e6e6e6;
}
.project .tree-view ul li > div.task:not(.done) div.description {
  color: rgba(0, 0, 0, 0.75);
}
.project .tree-view ul li > div.task:not(.done) div.description a {
  color: #000000;
  text-decoration: none;
}
.project .tree-view ul li > div.task:not(.done) i.button {
  background: #ffffff;
  box-shadow: 0px 0px 5px 5px #ffffff;
}
.project .tree-view ul li > div.task.done {
  opacity: .5;
  color: rgba(0, 0, 0, 0.4);
  background: #ffffff;
  box-shadow: 0px 2px 0px 0px #e6e6e6;
}
.project .tree-view ul li > div.task.done div.description {
  color: rgba(0, 0, 0, 0.3);
}
.project .tree-view ul li > div.task.done div.description a {
  color: #000000;
  text-decoration: none;
}
.project .tree-view ul li > div.task.done i.button {
  background: #ffffff;
  box-shadow: 0px 0px 5px 5px #ffffff;
}
.project .tree-view ul li > div.task[data-color='black']:not(.done) {
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  background: #333333;
  box-shadow: 0px 2px 0px 0px #1a1a1a;
}
.project .tree-view ul li > div.task[data-color='black']:not(.done) div.description {
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 0.75);
}
.project .tree-view ul li > div.task[data-color='black']:not(.done) div.description a {
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  text-decoration: none;
}
.project .tree-view ul li > div.task[data-color='black']:not(.done) i.button {
  background: #333333;
  box-shadow: 0px 0px 5px 5px #333333;
}
.project .tree-view ul li > div.task[data-color='black'].done {
  opacity: .5;
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 0.4);
  background: #737373;
  box-shadow: 0px 2px 0px 0px #595959;
}
.project .tree-view ul li > div.task[data-color='black'].done div.description {
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 0.3);
}
.project .tree-view ul li > div.task[data-color='black'].done div.description a {
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  text-decoration: none;
}
.project .tree-view ul li > div.task[data-color='black'].done i.button {
  background: #737373;
  box-shadow: 0px 0px 5px 5px #737373;
}
.project .tree-view ul li > div.task[data-color='blue']:not(.done) {
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  background: #3388ff;
  box-shadow: 0px 2px 0px 0px #2671d9;
}
.project .tree-view ul li > div.task[data-color='blue']:not(.done) div.description {
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 0.75);
}
.project .tree-view ul li > div.task[data-color='blue']:not(.done) div.description a {
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  text-decoration: none;
}
.project .tree-view ul li > div.task[data-color='blue']:not(.done) i.button {
  background: #3388ff;
  box-shadow: 0px 0px 5px 5px #3388ff;
}
.project .tree-view ul li > div.task[data-color='blue'].done {
  opacity: .5;
  color: rgba(0, 0, 0, 0.4);
  background: #b6d3fb;
  box-shadow: 0px 2px 0px 0px #99b9e5;
}
.project .tree-view ul li > div.task[data-color='blue'].done div.description {
  color: rgba(0, 0, 0, 0.3);
}
.project .tree-view ul li > div.task[data-color='blue'].done div.description a {
  color: #000000;
  text-decoration: none;
}
.project .tree-view ul li > div.task[data-color='blue'].done i.button {
  background: #b6d3fb;
  box-shadow: 0px 0px 5px 5px #b6d3fb;
}
.project .tree-view ul li > div.task[data-color='purple']:not(.done) {
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  background: #aa2299;
  box-shadow: 0px 2px 0px 0px #693062;
}
.project .tree-view ul li > div.task[data-color='purple']:not(.done) div.description {
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 0.75);
}
.project .tree-view ul li > div.task[data-color='purple']:not(.done) div.description a {
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  text-decoration: none;
}
.project .tree-view ul li > div.task[data-color='purple']:not(.done) i.button {
  background: #aa2299;
  box-shadow: 0px 0px 5px 5px #aa2299;
}
.project .tree-view ul li > div.task[data-color='purple'].done {
  opacity: .5;
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 0.4);
  background: #d873cc;
  box-shadow: 0px 2px 0px 0px #ab6ea3;
}
.project .tree-view ul li > div.task[data-color='purple'].done div.description {
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 0.3);
}
.project .tree-view ul li > div.task[data-color='purple'].done div.description a {
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  text-decoration: none;
}
.project .tree-view ul li > div.task[data-color='purple'].done i.button {
  background: #d873cc;
  box-shadow: 0px 0px 5px 5px #d873cc;
}
.project .tree-view ul li > div.task[data-color='red']:not(.done) {
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  background: #ff4455;
  box-shadow: 0px 2px 0px 0px #db3544;
}
.project .tree-view ul li > div.task[data-color='red']:not(.done) div.description {
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 0.75);
}
.project .tree-view ul li > div.task[data-color='red']:not(.done) div.description a {
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  text-decoration: none;
}
.project .tree-view ul li > div.task[data-color='red']:not(.done) i.button {
  background: #ff4455;
  box-shadow: 0px 0px 5px 5px #ff4455;
}
.project .tree-view ul li > div.task[data-color='red'].done {
  opacity: .5;
  color: rgba(0, 0, 0, 0.4);
  background: #fcc6cb;
  box-shadow: 0px 2px 0px 0px #e9a7ad;
}
.project .tree-view ul li > div.task[data-color='red'].done div.description {
  color: rgba(0, 0, 0, 0.3);
}
.project .tree-view ul li > div.task[data-color='red'].done div.description a {
  color: #000000;
  text-decoration: none;
}
.project .tree-view ul li > div.task[data-color='red'].done i.button {
  background: #fcc6cb;
  box-shadow: 0px 0px 5px 5px #fcc6cb;
}
.project .tree-view ul li > div.task[data-color='orange']:not(.done) {
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  background: #ff8822;
  box-shadow: 0px 2px 0px 0px #ca7124;
}
.project .tree-view ul li > div.task[data-color='orange']:not(.done) div.description {
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 0.75);
}
.project .tree-view ul li > div.task[data-color='orange']:not(.done) div.description a {
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  text-decoration: none;
}
.project .tree-view ul li > div.task[data-color='orange']:not(.done) i.button {
  background: #ff8822;
  box-shadow: 0px 0px 5px 5px #ff8822;
}
.project .tree-view ul li > div.task[data-color='orange'].done {
  opacity: .5;
  color: rgba(0, 0, 0, 0.4);
  background: #facda6;
  box-shadow: 0px 2px 0px 0px #e2b38b;
}
.project .tree-view ul li > div.task[data-color='orange'].done div.description {
  color: rgba(0, 0, 0, 0.3);
}
.project .tree-view ul li > div.task[data-color='orange'].done div.description a {
  color: #000000;
  text-decoration: none;
}
.project .tree-view ul li > div.task[data-color='orange'].done i.button {
  background: #facda6;
  box-shadow: 0px 0px 5px 5px #facda6;
}
.project .tree-view ul li > div.task[data-color='yellow']:not(.done) {
  color: #000000;
  background: #ffff55;
  box-shadow: 0px 2px 0px 0px #dede43;
}
.project .tree-view ul li > div.task[data-color='yellow']:not(.done) div.description {
  color: rgba(0, 0, 0, 0.75);
}
.project .tree-view ul li > div.task[data-color='yellow']:not(.done) div.description a {
  color: #000000;
  text-decoration: none;
}
.project .tree-view ul li > div.task[data-color='yellow']:not(.done) i.button {
  background: #ffff55;
  box-shadow: 0px 0px 5px 5px #ffff55;
}
.project .tree-view ul li > div.task[data-color='yellow'].done {
  opacity: .5;
  color: rgba(0, 0, 0, 0.4);
  background: #fdfdd7;
  box-shadow: 0px 2px 0px 0px #ececb4;
}
.project .tree-view ul li > div.task[data-color='yellow'].done div.description {
  color: rgba(0, 0, 0, 0.3);
}
.project .tree-view ul li > div.task[data-color='yellow'].done div.description a {
  color: #000000;
  text-decoration: none;
}
.project .tree-view ul li > div.task[data-color='yellow'].done i.button {
  background: #fdfdd7;
  box-shadow: 0px 0px 5px 5px #fdfdd7;
}
.project .tree-view ul li > div.task[data-color='green']:not(.done) {
  color: #000000;
  background: #66ff22;
  box-shadow: 0px 2px 0px 0px #57ca24;
}
.project .tree-view ul li > div.task[data-color='green']:not(.done) div.description {
  color: rgba(0, 0, 0, 0.75);
}
.project .tree-view ul li > div.task[data-color='green']:not(.done) div.description a {
  color: #000000;
  text-decoration: none;
}
.project .tree-view ul li > div.task[data-color='green']:not(.done) i.button {
  background: #66ff22;
  box-shadow: 0px 0px 5px 5px #66ff22;
}
.project .tree-view ul li > div.task[data-color='green'].done {
  opacity: .5;
  color: rgba(0, 0, 0, 0.4);
  background: #c0faa6;
  box-shadow: 0px 2px 0px 0px #a6e28b;
}
.project .tree-view ul li > div.task[data-color='green'].done div.description {
  color: rgba(0, 0, 0, 0.3);
}
.project .tree-view ul li > div.task[data-color='green'].done div.description a {
  color: #000000;
  text-decoration: none;
}
.project .tree-view ul li > div.task[data-color='green'].done i.button {
  background: #c0faa6;
  box-shadow: 0px 0px 5px 5px #c0faa6;
}
.project .tree-view ul li > div.task > .drop-target {
  position: absolute;
  width: 200px;
}
.project .tree-view ul li > div.task > .drop-target.before {
  top: -8px;
  bottom: 50%;
}
.project .tree-view ul li > div.task > .drop-target.after {
  top: 50%;
  bottom: -8px;
}
.project .tree-view ul li > div.task > .drop-target.child {
  display: none;
  width: 216px;
  right: -216px;
  top: -8px;
  bottom: -8px;
  pointer-events: none;
}
.project .tree-view ul li.leaf > .task > .drop-target.child {
  display: block;
}
.project .tree-view .drop-target {
  display: none;
}
.project .tree-view.dragging .drop-target {
  display: block;
}
.project .tree-view button.add-sub-task {
  display: block;
  height: 52px;
  width: 200px;
  font-size: 1.25em;
  text-shadow: 0 1px 0 #9fb0c1;
  color: #ffffff;
  background: transparent;
  border-radius: 5px;
  border: 3px dotted;
}
body #modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5) url('noise-3percent.png');
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body #modal-overlay .dialog {
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
}
body.modal-overlay #page {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
body.modal-overlay #modal-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.dialog.edit-task {
  width: 400px;
  position: relative;
}
.dialog.edit-task input.title {
  font-size: 1.25em;
  width: 100%;
}
.dialog.edit-task .estimates {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dialog.edit-task .estimates label {
  width: 280px;
  text-align: right;
  font-size: 14px;
}
.dialog.edit-task .estimates label input {
  width: 130px;
  margin-left: 20px;
}
.dialog.edit-task .done {
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 20px;
}
.dialog.edit-task textarea {
  margin: 20px 0;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  height: 100px;
  resize: none;
}
.dialog.edit-task textarea:focus {
  resize: vertical;
}
.dialog.edit-task input.title,
.dialog.edit-task .estimates input,
.dialog.edit-task textarea {
  background: transparent;
  color: inherit;
  border-radius: 3px;
  border: 1px solid transparent;
}
.dialog.edit-task input.title:focus,
.dialog.edit-task .estimates input:focus,
.dialog.edit-task textarea:focus {
  outline: none;
  border-color: inherit;
}
.dialog.edit-task .estimates input,
.dialog.edit-task textarea {
  font-size: 14px;
}
.dialog.edit-task .colors {
  margin: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dialog.edit-task .colors label {
  width: 24px;
  height: 24px;
  margin: 0;
}
.dialog.edit-task .colors label input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}
.dialog.edit-task .colors label.white span {
  content: '';
  display: block;
  background: #ffffff;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 4px;
  -webkit-transition: -webkit-transform .2s;
          transition: transform .2s;
  box-shadow: inset 0px 0px 2px 0px #cccccc;
}
.dialog.edit-task .colors label.white span:hover {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform .1s;
          transition: transform .1s;
}
.dialog.edit-task .colors label.white input:checked + span {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.dialog.edit-task .colors label.black span {
  content: '';
  display: block;
  background: #333333;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 4px;
  -webkit-transition: -webkit-transform .2s;
          transition: transform .2s;
}
.dialog.edit-task .colors label.black span:hover {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform .1s;
          transition: transform .1s;
}
.dialog.edit-task .colors label.black input:checked + span {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.dialog.edit-task .colors label.blue span {
  content: '';
  display: block;
  background: #3388ff;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 4px;
  -webkit-transition: -webkit-transform .2s;
          transition: transform .2s;
}
.dialog.edit-task .colors label.blue span:hover {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform .1s;
          transition: transform .1s;
}
.dialog.edit-task .colors label.blue input:checked + span {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.dialog.edit-task .colors label.purple span {
  content: '';
  display: block;
  background: #aa2299;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 4px;
  -webkit-transition: -webkit-transform .2s;
          transition: transform .2s;
}
.dialog.edit-task .colors label.purple span:hover {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform .1s;
          transition: transform .1s;
}
.dialog.edit-task .colors label.purple input:checked + span {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.dialog.edit-task .colors label.red span {
  content: '';
  display: block;
  background: #ff4455;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 4px;
  -webkit-transition: -webkit-transform .2s;
          transition: transform .2s;
}
.dialog.edit-task .colors label.red span:hover {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform .1s;
          transition: transform .1s;
}
.dialog.edit-task .colors label.red input:checked + span {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.dialog.edit-task .colors label.orange span {
  content: '';
  display: block;
  background: #ff8822;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 4px;
  -webkit-transition: -webkit-transform .2s;
          transition: transform .2s;
}
.dialog.edit-task .colors label.orange span:hover {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform .1s;
          transition: transform .1s;
}
.dialog.edit-task .colors label.orange input:checked + span {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.dialog.edit-task .colors label.yellow span {
  content: '';
  display: block;
  background: #ffff55;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 4px;
  -webkit-transition: -webkit-transform .2s;
          transition: transform .2s;
  box-shadow: inset 0px 0px 2px 0px #d6d618;
}
.dialog.edit-task .colors label.yellow span:hover {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform .1s;
          transition: transform .1s;
}
.dialog.edit-task .colors label.yellow input:checked + span {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.dialog.edit-task .colors label.green span {
  content: '';
  display: block;
  background: #66ff22;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 4px;
  -webkit-transition: -webkit-transform .2s;
          transition: transform .2s;
  box-shadow: inset 0px 0px 2px 0px #41a813;
}
.dialog.edit-task .colors label.green span:hover {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform .1s;
          transition: transform .1s;
}
.dialog.edit-task .colors label.green input:checked + span {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.dialog.edit-task button.delete {
  margin: 0 auto;
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  text-shadow: 0 -1px 0 #dd2000;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  background: #ff3311 -webkit-linear-gradient(bottom, #f12200, #ff3311, #ff4d30);
  background: #ff3311 linear-gradient(to top, #f12200, #ff3311, #ff4d30);
  border-radius: 5px;
  padding: 6px 20px;
  border: none;
}
.dialog.edit-task button.delete:active {
  background: #ff3311;
}
.dialog.edit-task button.delete:focus {
  outline: none;
}
.dialog.edit-task i.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 22px;
  color: #ccc;
  -webkit-transition: color 0.1s;
          transition: color 0.1s;
}
.dialog.edit-task i.close:hover {
  color: #aaa;
  -webkit-transition: color 0.2s;
          transition: color 0.2s;
}
