doctype html5
head
	link(rel='stylesheet', href='css/style.css')
	link(rel='stylesheet', href='css/font-awesome-4.2.0.min.css')
body
	#page
		#everything-but-footer
			#header
			#main
				.tree-view
					h1
					//- i.fa.fa-plus-square.js-add-sub-task
					ul
		#footer

	#modal-overlay
		.dialog.js-edit-task-dialog
			h1 The title
			input.js-estimate-from
			input.js-estimate-to
			input.js-actual
			p Some description. Maybe a few lines of text, you know. Just to get it.
			button.js-delete Delete
			i.fa.fa-close.button.close.js-close

script(src='//localhost:35729/livereload.js')

script(src='js/vendor/jquery-2.1.3.min.js')
script(src='js/vendor/jquery-ui-1.11.2.drag-drop.min.js')
script(src='js/vendor/underscore-1.7.0.min.js')
script(src='js/vendor/backbone-1.1.2.min.js')
script(src='js/vendor/backbone-nested-0.7.0.min.js')

script(src='js/ModalOverlayView.js')
script(src='js/ModalDialogView.js')

script(src='js/ProjectTreeView.js')
script(src='js/ProjectTreeSubTaskView.js')
script(src='js/ProjectTreeSubTaskListView.js')
script(src='js/task.js')
script(src='js/main.js')


script.js-task(type='template')
	li
		.task
			h1
			input
			i.fa.fa-plus-square.button.add-sub-task.js-add-sub-task
			i.fa.fa-cog.button.task-details.js-task-details
			.drop-target.before(rel='before')
			.drop-target.after(rel='after')
			.drop-target.child(rel='child')
		ul
