doctype html5
head
	link(rel='stylesheet', href='css/style.css')
	link(rel='stylesheet', href='css/font-awesome-4.2.0.min.css')
body
	#page
	#modal-overlay


script.js-landing(type='template')
	.landing
		h1.logo ≈
		p.tagline Super easy project planning and estimation
		a.button.create(href='#createProject') Create project
		.columns
			div
				img(width='160', src='landing-page-illustrations/tree.svg')
				h2 Break it down
				p
					| Add tasks to your project and break them down into subtasks. The tree layout highlights the structure of your project.
			div
				img(width='160', src='landing-page-illustrations/drag.svg')
				h2 Drag & drop
				p
					| Reorganize your project easily and intuitively. Does some subtask deserve more focus? Is some task prioritized? Just drag it over.
			div
				img(width='160', src='landing-page-illustrations/bell.svg')
				h2 Estimate
				p
					| Get detailed estimates for your project, even with incomplete data. Just enter whatever estimates and actual values you have.


script.js-project(type='template')
	.project
		input.title.js-title(placeholder='Project title')
		p.estimate
		.tree-view
			ul
			button.add-sub-task.js-add-sub-task: i.fa.fa-plus


script.js-task(type='template')
	li
		.task.js-task
			h1
			input(placeholder='Task title')
			.description.js-description
			.estimates
				p.estimate.js-estimate(title='Estimate')
				p.projection.js-projection(title='Projection')
				p.actual.js-actual(title='Actual')
			i.fa.fa-plus-square.button.add-sub-task.js-add-sub-task
			i.fa.fa-cog.button.task-details.js-task-details
			.drop-target.before(rel='before')
			.drop-target.after(rel='after')
			.drop-target.child(rel='child')
		ul


script.js-edit-task-dialog(type='template')
	.dialog.edit-task

		input.title.js-title(placeholder='Task title')

		.colors
			each color in ['white', 'black', 'red', 'orange', 'yellow', 'green', 'blue', 'purple']
				label(class=color)
					input(type='radio', name='color', value=color)
					span

		.estimates.js-estimates
			label
				span Min estimate
				input.from.js-from(placeholder='Unknown')
			label
				span Max estimate
				input.to.js-to(placeholder='Unknown')
			label
				span Actual
				input.actual.js-actual(placeholder='Unknown')

		label.done
			input(type='checkbox').js-done
			|  Done

		textarea.js-description(placeholder='Description')

		button.delete.js-delete
			i.fa.fa-remove
			|  Delete

		i.fa.fa-close.button.close.js-close


- var apiBaseUrlQuoted = JSON.stringify(apiBaseUrl || '');
script.
	var apiBaseUrl = !{apiBaseUrlQuoted};

script(src='js/vendor/jquery-2.1.3.min.js')
script(src='js/vendor/jquery-ui-1.11.2.drag-drop.min.js')
script(src='js/vendor/underscore-1.7.0.min.js')
script(src='js/vendor/backbone-1.1.2.min.js')
script(src='js/vendor/backbone-nested-0.7.0.min.js')

script(src='js/ModalOverlayView.js')
script(src='js/ModalDialogView.js')
script(src='js/ModalTaskEditDialogView.js')

script(src='js/ProjectView.js')
script(src='js/ProjectTreeView.js')
script(src='js/ProjectTreeSubTaskView.js')
script(src='js/ProjectTreeSubTaskListView.js')
script(src='js/guid.js')
script(src='js/Duration.js')
script(src='js/task.js')
script(src='js/main.js')
