doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	style.
		body {
		-webkit-font-smoothing: antialiased;
		background: #001f23 url(landing-page-background.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		color: white;
		padding: 0;
		margin: 0;
		}
		h1, h2, p, a.button {
		font-family: Helvetica, Arial, sans-serif;
		font-weight: normal;
		letter-spacing: 1.3;
		line-height: 1.3em;
		}
		p, a.button {
		font-size: 20px;
		}
		h1.logo {
		font-family: Georgia, Times, Times New Roman, serif;
		font-weight: normal;
		text-align: center;
		//- margin: 0;
		}
		p.tagline {
		text-align: center;
		margin: 0 20px;
		}
		a.button.create {
		width: 150px;
		text-align: center;
		display: block;
		margin: 0 auto;
		font-size: 20px;
		color: white;
		text-decoration: none;
		border: 1px solid;
		border-radius: 10px;
		padding: 10px 20px;
		transition: background .1s;
		}
		a.button.create:hover {
		background: rgba(255, 255, 255, .15);
		transition: background .2s;
		}
		div.collumns {
		margin: 0 auto;
		}
		div.columns h2 {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		margin-top: 50px;
		}
		div.columns p {
		font-size: 16px;
		}
		div.columns img {
		display: block;
		margin: 0 auto;
		}







		@media only screen and (max-width : 959px) {
			h1.logo {
			font-size: 400px;
			line-height: 200px;
			margin: 50px 0;
			}
			a.button.create {
			margin: 50px auto 150px auto;
			}
			div.columns > div {
			margin: 0 20px 120px 20px;
			}
		}


		@media only screen and (min-width : 960px) {
			h1.logo {
			font-size: 500px;
			line-height: 300px;
			margin: 150px 0 50px 0;
			}
			a.button.create {
			margin: 150px auto;
			}
			div.columns {
			display: flex;
			display: -webkit-flex;
			align-items: flex-start;
			-webkit-align-items: -webkit-flex-start;
			width: calc(250px * 3 + 50px * 2);
			margin: 0 auto 100px auto;
			}
			div.columns > div {
			width: 250px;
			margin: 0;
			margin-right: 50px;
			}
			div.columns > div:last-child {
			margin-right: 0;
			}
		}

	body
		h1.logo ≈
		p.tagline Super easy project planning and estimation
		a.button.create(href='#') Create project
		.columns
			div
				img(width='160', src='landing-page-illustrations/tree.svg')
				h2 Break it down
				p
					| Add tasks to your project and break them down into subtasks. The tree layout highlights the structure of your project.
			div
				img(width='160', src='landing-page-illustrations/drag.svg')
				h2 Drag & drop
				p
					| Reorganize your project easily and intuitively. Does some subtask deserve more focus? Is some task prioritized? Just drag it over.
			div
				img(width='160', src='landing-page-illustrations/bell.svg')
				h2 Estimate
				p
					| Get detailed estimates for the complete project, even with incomplete data. Just enter the estimates and actual values you have.
